body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f8f8f8;
}

h1 {
    color: #3498db;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: #555;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5em;
}

ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

li:hover {
    transform: translateX(5px);
    color: #3498db;
}

h1, h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}
